body {
	background:white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	margin:0px;
}
h1{
	color:navy
}
.content{
	padding-left: 100px; 
	padding-right: 100px; 
	letter-spacing: 2px; 
	line-height: 2;
}
