.menu {
	width: 80%;
	margin: 0 auto;
	z-index:1;
}

header {
  background:white;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
  z-index:1;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 14px 16px;
}

nav ul ul a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

nav a:hover, .dropdown.hover {
  color:#6600FF;
  z-index:1;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.dropdown{
	position:relative;
}
.dropdown:hover{
	background:#EAFFFF;
	font-weight: 600;
}
.dropdown-content{
	display:none;
	position:absolute;
	min-width:250px;
	background:black;
	color:white;
}
.dropdown:hover .dropdown-content{
	display:block;
	background:#EAFFFF
}