body{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	margin: 0;
}
.content{
	padding-left: 100px; 
	padding-right: 100px; 
}
h1{
	color:navy
}
h2{
	color: #3C3C3C;
	font-size: 23px;

}
.image{
	padding-left: 20px;
	padding-right: 20px;
}